* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: cyan;
}

h1 {
    background-color: yellow;
}

#book-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: yellow;
    width: 200px;
    height: 200px;
    padding: 15px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
}

.author, .page-count, .is-read {
    font-size: 1rem;
}

.card-controls {
    /* position: absolute; */
    margin-top: auto;
}